body {
  padding: 0;
  margin:  0;
  background-color: #bbceed;
}
.navbar {
  display: block;
  position: relative;
  background-color: #021b42;
  overflow: show;
  padding: 10px 20px;
  z-index: 0;
}
.navbar p.nm {
  display: inline;
  position: relative;
  color: white;
  font-size: 30px;
  padding: 10px 20px;
}
.navbar a.mb {
  display: inline;
  color: #b6c3d8;
  position: relative;
  text-decoration: none;
  float: right;
  font-size: 20px;
  padding: 10px 5px;
  top: -5px;
  font-weight: 300;
}
.navbar a.mb_act {
  display: inline;
  color: white;
  position: relative;
  text-decoration: none;
  float: right;
  font-size: 20px;
  padding: 10px 5px;
  top: -5px;
  font-weight: 300;
}
.navbar a.mb:hover {
  background-color: #163d7a;
}
.dropDown {
  display: inline-block;
  position: relative;
  float: right;
}
.drpContent {
  display: none;
  position: absolute;
  padding: 10px 20px;
  z-index: 2;
}
.drpContent a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #657389;
  display: block;
}
.dropDown:hover .drpContent {
  display: block;
}
.drpContent a:hover{
  background-color: #306cc9;
}
.dropDown button.inactive {
  color: #b6c3d8;
  display: inline;
  border: none;
  background-color: inherit;
  font-size: 20px;
  text-align: center;
  padding: 5px 20px;
}
.dropDown button.active {
  color: white;
  display: inline;
  border: none;
  background-color: inherit;
  font-size: 20px;
  text-align: center;
  padding: 5px 20px;
}
.dropDown button:hover {
  background-color: #163d7a;
}
.aboutme {
  display:     block;
  color:       black;
  margin-left: 30px;
  margin-top:  30px;
  font-size:   40px;
}
.aboutcont{
  position: relative;
  display:     block;
  color:       black;
  margin-left: 30px;
  width:       700px;
  font-size:   25px;
  top: -15px;
}
#myCanvas{
  background-color: white;
  margin-left:      30px;
  margin top:       30px;
}
.contact{
  position:     relative;
  display:      block;
}
.contacc{
  display:     inline;
  color:       black;
  margin-left: 30px;
  margin-top:  30px;
  font-size:   25px;
  font-weight: bold;
}
.contaccer{
  display:     block;
  position: relative;
  top:         -20px;
  color:       black;
  margin-left: 30px;
  font-size:   25px;
  text-decoration: none;
}
.SkillList{
  text-decoration: underline;
}
.SkillItem{
  text-decoration: none;
  list-style-type: ;
  margin-left: 60px;
}
#skillList {
  display:     block;
  color:       black;
  margin-top:  30px;
  font-size:   40px;
  text-decoration: underline;
}
.SkillItem {
  position: relative;
  display:     block;
  list-style-type: circle;
  color:       black;
  margin-left: 70px;
  width:       700px;
  font-size:   25px;
  top: -15px;
}
